.container {
    height: 100%;
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    box-sizing: border-box;
}

.left, .right {
    background: #eee;
}

.middle {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hand {
    display: flex;
    gap: 10px;

    padding: 10px 0 0;
}

.selected {
  position: relative;
  top: -7px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 1);
}