@use 'variables' as vars;

:host {
    display: block;
    min-width: vars.$card-width;
    width: vars.$card-width;
    min-height: vars.$card-height;
    height: vars.$card-height;
    background-color: bisque;
    border: 1px solid black;
    position: relative;
}

:host.disabled::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
