<div class="container">
    <div>
        <button (click)="onGoBackClick()">Go back</button>
    </div>
    <div class="tree-container">
        <div id="tree">
            <app-tree
                [cellTemplate]="cellTemplate"
                [tree]="technologies()"
                [sizeX]="200"
                [sizeY]="100"
                [spaceX]="20"
                [spaceY]="40"
            />
        </div>
    </div>
</div>

<ng-template #cellTemplate let-cell="cell">
    <div 
        class="technology-item"
        [style.backgroundColor] = "getCellColor(cell)"
    >
        {{cell.value.name}}
        {{cell.value.unlocked()}}
        @if(cell.value.unlocked()) {
            Unlocked
        } @else if(!cell.value.avaliable()) {
            Not avaliable
        } @else {
            <button (click)="onUnlockClick(cell)">Unlock</button>
        }
        
    </div>
</ng-template>

