<div class="container">
    <div>
        <button (click)="onGoBackClick()">Go back</button>
    </div>
    <div class="tree-container">
        <div id="tree">
            <app-tree
                [cellTemplate]="cellTemplate"
                [tree]="technologies()"
                [sizeX]="sizeX"
                [sizeY]="sizeY"
                [spaceX]="spaceX"
                [spaceY]="spaceY"
            />
        </div>
    </div>
</div>

<ng-template #cellTemplate let-cell="cell">
    <div class="technology-item">
        @if(cell.value.type === "technology") {
            <app-technology-tree-item [cell]="cell" [technology]="cell.value.item"/>
        }
        @else if(cell.value.type === "technology-selection") {
            <app-technology-selection-tree-item [cell]="cell" [technologies]="cell.value.item" [sizeX]="sizeX" [spaceX]="spaceX" />
        }
    </div>
</ng-template>