<div class="container">
    @for(group of groups(); track group.group) {
        {{group.group}}
        <div class="group">
        @for(card of group.cards; track card.card.id)  {
            <app-card 
                [card]="card.card"
                [avaliable]="card.avaliable"
                [class.selected]="isCardSelected(card.card)" 
                [class.override-selected]="isCardOverrideSelected(card.card)" 
                (click)="onCardClick(card.card, card.avaliable)"/>
        }
        </div>
    }
</div>