<div>
    <div>
        <span>Amount:</span>
        <div>
        <input
            style="width:100px"
            type="number"
            [value]="parameters.amount()"
            (input)="setAmount($event)"
        />
        </div>
    </div>
    <div>
        <span>Resource:</span>
        <select
            [value]="parameters.resource()"
            (change)="setResource($event)"
        >
            @for(r of resources; track r) {
                <option [value]="r">{{r}}</option>
            }
        </select>
    </div>
    <div>
        <span>Difficulty:</span>
        <div>
        <input
            style="width:100px"
            type="number"
            [value]="parameters.difficulty()"
            (input)="setDifficulty($event)"
        />
        </div>
    </div>
    <div>
        <span>Skill:</span>
        <select
            [value]="parameters.skill()"
            (change)="setSkill($event)"
        >
            @for(s of skills; track s) {
                <option [value]="s">{{s}}</option>
            }
        </select>
    </div>
</div>