<div class="full-size" id="zoom-target">
    @if(backgroundImage) {
        <div
            class="background"
            id="background"
            [style.transform]="backgroundTransform()"
            [style.background-image] = "backgroundImage"
            [style.background-size] = "getBackgroundSize()">
            
        </div>   
    }

    <!--@for(x of getRange(tileOnScreenX+3); track x) {
        @for(y of getRange(tileOnScreenY+3); track y) {
            <ng-container *ngTemplateOutlet="fullTileTemplate; context: {x:y+x+positionX()-2, y:y-x+positionY()}"></ng-container>
            <ng-container *ngTemplateOutlet="fullTileTemplate; context: {x:y+x+positionX()-2, y:y-x+positionY()-1}"></ng-container>
        }
    }-->
    @for(tile of tilesData.entries(); track tile[0]) {
        <div
            class="item"
            [style.left.px]="getTransformX(tile[0])"
            [style.top.px]="getTransformY(tile[0])"
            (click)="onTileClick(tile[1])"
        >
            <ng-container *ngTemplateOutlet="tileTemplate; context:{tile:tile[1]}"></ng-container>
        </div>
    }

    @for(additional of additionalGraphicsAndTilesToRender(); track $index) {
        <div
            class="item"
            [style.left.px]="getTransformX(additional.tile[0])"
            [style.top.px]="getTransformY(additional.tile[0])"
        >
        
            <ng-container *ngComponentOutlet="additional.additionalGraphic[1].template!; inputs:{tile:additional.tile[1], input:additional.additionalGraphic[1].input}"></ng-container> 
        </div>
    }

    @for(tile of tilesData.entries(); track tile[0]) {
        <div
            class="item"
            [style.left.px]="getTransformX(tile[0])"
            [style.top.px]="getTransformY(tile[0])"
            (click)="onTileClick(tile[1])"
            (mouseenter)="onTileHover(tile[1])"
            (mouseleave)="onTileHoverExit(tile[1])"
        >
            <div
                class="diamond"
                [style.width.px]="sizeX"
                [style.height.px]="sizeY"
                >
            </div>
        </div>
    }
</div>

<!--
<ng-template #fullTileTemplate let-x="x" let-y="y">
    @if(tilesData.get(x+"-"+y); as tile) {
        <div
            class="item"
            [style.left.px]="getTransformX(x, y)"
            [style.top.px]="getTransformY(x, y)"
            (click)="onTileClick(tile)"
        >
            <div
                class="diamond"
                [style.width.px]="sizeX"
                [style.height.px]="sizeY"
                >
            </div>
            <ng-container *ngTemplateOutlet="tileTemplate; context:{tile}"></ng-container>
        </div>
    }
</ng-template> -->