.container {
    padding-top: 8px;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
    align-content: start;
}

.group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
}

.selected {
    position: relative;
    top: -7px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 1);
}

.override-selected {
    position: relative;
    top: -7px;
    box-shadow: 0 0 15px rgb(0, 0, 255);
}