<div class="container"  (contextmenu)="onRightClick($event)">
    <div class="header">
        <app-game-info-panel></app-game-info-panel>
    </div>
    <div>
        <ng-template #sideContainer></ng-template>
    </div>
    <div style="overflow: hidden;">
        <app-world-map/>
    </div>
    <div class="footer">
        @if(actionsCards) {
            <div>
                <app-cards [cardsHand]="actionsCards"></app-cards>
            </div>
        }
        <div>
            <app-cards [cardsHand]="charactersCards"></app-cards>
        </div>
    </div>

</div>
