@use 'variables' as vars;

.container {
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 120px auto 480px;
    height: 100%;
}

.header {
    grid-column: span 3;
    grid-row: span 1;
}

.left-container {
    grid-column: span 1;
    grid-row: span 1;
    min-height: 0;
}

.overlay-window {
    position: fixed;
    z-index: 1000;
    background: white;
    border: 1px solid;
    padding: 12px;
    width: max-content;
}

.left {
    transform: translateX(calc(-100%));
}

.top {
    transform: translateY(calc(-100%));
}

.overlay-window.left.top {
  transform: translate(-100%, -100%);
}