img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    overflow: hidden;
    pointer-events: none;
}

.tile-container {
    position: absolute;
    * {
        position: absolute;
    }
}