<div
    [style.width.px]="sizeX"
    [style.height.px]="sizeY"
    class="tile-container">

    <img [src]="getTexture(tile.value.terrainType())">
    <img [src]="lightBorder">
    @if(tile.value.mapEntity.get(); as mapEntity) {
        <img [src]="getTexture(mapEntity.textureName)">
            @for(building of tile.value.mapEntity.get()!.buildings.get().values(); track building) {
                <img 
                    [src]="getTexture(building.get().name)"
                    [style.left.px]="getBuildingPositionX($index)"
                    [style.top.px]="getBuildingPositionY($index)"
                >
            }
    }
    @if(doRenderTileInfo()) {
        <ng-container *ngComponentOutlet="tileInfo()!;"></ng-container> 
    }
</div>