<p>City</p>
<div>{{"Owned tiles: " + city.get().ownedTilesNumber()}}</div>
<div>{{"Food: " + city.get().produced().get('food') + " / " + city.get().produced().get('food-need')}}</div>
<div>{{"Authority: " + city.get().produced().get('authority') + " / " + city.get().produced().get('authority-need')}}</div>
<div>{{"Workers: " + city.get().produced().get('workers') + " / " + city.get().produced().get('workers-need')}}</div>

@if(isMainMode()) {
    <button (click)="onAddTileActionClick()" [class.active-button]="isAddTileSelected()">Add tile</button>
}

@for(estateInfo of avaliableEstates(); track estateInfo[0]) {
    @if(isMainMode()) {
        <button
            (click)="onAddEstateActionClick(estateInfo[0], estateInfo[1])"
            [class.active-button]="isAddEstateSelected(estateInfo[0])()"
        >
            Add {{estateInfo[0]}}
        </button>
    }
}

@if(isMainMode()) {
    <button (click)="onRemoveEstateActionClick()" [class.active-button]="isRemoveEstateActionSelected()">Remove estate</button>
}

<div>Extraction:</div>
@for(extraction of avaliableExtractions(); track extraction[0]) {
    <button (click)="onAddExtractionClick(extraction[0], extraction[1])">{{extraction[0]}}</button>
}


<div>Buildings:</div>
@for(building of city.get().buildings.get().values(); track building) {
    <div>
        {{building.get().name}}
        @if(isMainMode()) {
            <button (click)="onRemoveBuildingClick(building)">X</button>
        }
    </div>
    
}
@if(isMainMode()) {
    <button (click)="onCreateTempleClick()">Add temple</button>
}
@if(isMainMode()) {
    <button (click)="onAddUnitClick()">Add unit</button>
}
<button (click)="onAddJobClick()">Add job</button>

@for(job of city.get().jobs.get(); track job) {
    <app-one-time-job-panel [oneTimeJob]="job"/>
}
