<p>City</p>
<div>{{"Owned tiles: " + city.ownedTilesNumber()}}</div>
<div>{{"Food: " + city.produced().get('food') + " / " + city.produced().get('food-need')}}</div>
<div>{{"Authority: " + city.produced().get('authority') + " / " + city.produced().get('authority-need')}}</div>
<button (click)="onAddTileActionClick()" [class.active-button]="isAddTileSelected()">Add tile</button>
<button (click)="onAddFarmActionClick()" [class.active-button]="isAddFarmSelected()">Add farm</button>
<button (click)="onAddTowerActionClick()" [class.active-button]="isAddTowerSelected()">Add tower</button>
<button (click)="onAddMineActionClick()" [class.active-button]="isAddMineSelected()">Add mine</button>

<button (click)="onRemoveEstateActionClick()" [class.active-button]="isRemoveEstateActionSelected()">Remove estate</button>

<div>Buildings:</div>
@for(building of city.buildings.get().values(); track building) {
    <div>
        {{building.get().name}}
        <button (click)="onRemoveBuildingClick(building)">X</button>
    </div>
    
}
<button (click)="onCreateTempleClick()">Add temple</button>
