<div>
    <button (click)="onCreateStationClick()">{{ 'ACTIONS_LIST.CREATE_STATION' | translate }}</button>
</div>
<div>
    <button (click)="onSwitchEnabledEstate()">{{ 'ACTIONS_LIST.SWITCH_ENABLED' | translate }}</button>
</div>
<div>
    <button (click)="onTechTreeClick()">{{ 'ACTIONS_LIST.TECH_TREE' | translate }}</button>
</div>
<div>
    <button (click)="onNextLevel()">{{ 'ACTIONS_LIST.NEXT_LEVEL' | translate }}</button>
</div>
<div>
    <button (click)="onSaveClick()">{{ 'ACTIONS_LIST.SAVE' | translate }}</button>
</div>
<div>
    <button (click)="onLoadClick()">{{ 'ACTIONS_LIST.LOAD' | translate }}</button>
</div>
<div>
    <button (click)="onDecisionClick()">{{ 'ACTIONS_LIST.DECISIONS' | translate }}</button>
</div>
<div>
    <button (click)="onOpenHeadquartersPanelClick()">{{ 'ACTIONS_LIST.HEADQUARTERS' | translate }}</button>
</div>
