<div>
    <button (click)="onCreateStationClick()">Create station</button>
</div>
<div>
    <button (click)="onSwitchEnabledEstate()">Switch enabled</button>
</div>
<div>
    <button (click)="onTechTreeClick()">Tech tree</button>
</div>
<div>
    <button (click)="onNextLevel()">Next level</button>
</div>
<div>
    <button (click)="onEditMapClick()">Edit map</button>
</div>
<div>
    <button (click)="onSaveClick()">Save</button>
</div>
<div>
    <button (click)="onLoadClick()">Load</button>
</div>
<div>
    <button (click)="onDecisionClick()">Decisions</button>
</div>
<div>
    <button (click)="onOpenHeadquartersPanelClick()">Headquarters</button>
</div>
