<div class="container">
    <div class="left">left</div>
    <div class="middle">
        <div class="hand">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
    <div class="right">right</div>
</div>